body {
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
}

.left, .right {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img.score {
  max-height: 100vh;
  height: 100%;
  width: auto;
  display: block;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button.light {
  background-color: rgba(177, 177, 177, 0.973);
  color: black;
}

button.light:hover {
  background-color: #ddd;
}

button.dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}

button.dark:hover {
  background-color: #444;
}
